<section>
  <form class>
    <label for="starship">starship</label>
    <div class="input-group">
      <input type="" name="starship" value="">
    </div>

    <div class="input-group">
      <label for="people">people</label>
      <input type="" name="people" value="">
    </div>

    <div class="input-group">
      <label for="vehicles">vehicles</label>
      <input type="" name="vehicles" value="">
    </div>

    <div class="input-group">
      <label for="select-type">select-type</label>
      <input type="" name="select-type" value="">
    </div>

    <button type="button">send</button>
  </form>
</section>

